.charts-container {
  width: 60%;
  text-align: center;

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 70%;
    text-align: center;
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 70%;
    text-align: center;
  }
}
.line {
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    width: 70%;
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 70%;
  }
}
