.grid-table {
  width: 70%;
  margin-top: 35px;
  border: 1px solid #91caff;
  border-radius: 4px;
}

.column {
  border: 0.5px solid #91caff;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.row:nth-child(even) {
  background: #e6f4ff;
}

.column.links {
  display: flex;
  gap: 20px;
  text-transform: capitalize;
}

.column.links a {
  text-decoration: underline;
  font-weight: 500;
}

.column.name {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .grid-table {
    width: 95%;
  }
  .column {
    word-wrap: break-word;
  }
  .column.header {
    display: none;
  }
  .column.links {
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .grid-table {
    width: 95%;
  }
  .column {
    word-wrap: break-word;
  }
  .column.links {
    flex-direction: column;
  }
}

@media (min-width: 1441px) {
  .column {
    font-size: 24px;
  }

  .column.name {
    font-size: 24px;
  }
}
