.recommendation {
  width: 40%;
  text-align: center;
  padding-top: 100px;
  color: #0958d9;
  @media (max-width: 768px) {
    width: 95%;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    width: 80%;
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    width: 70%;
  }
  @media (min-width: 1441px) {
    width: 70%;
    max-width: 1000px;
    font-size: 24px;
  }
}

.recommendation-heading {
  width: 100%;
  border: 2px solid #91caff;
  border-radius: 4px;
  padding: 20px;
  font-size: 28px;
  @media (min-width: 1441px) {
    font-size: 36px;
  }
}

.recommendation-box {
  display: flex;
  border: 2px solid #91caff;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
  margin-top: 15px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    flex-direction: column;
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    flex-direction: column;
  }
}

.text-section {
  flex: 1;
  line-height: 25px;
}

.text-section a {
  font-weight: 600;
}

.text-section a:visited {
  color: inherit;
}

.stats-section {
  flex: 1;
  @media (max-width: 768px) {
    margin-top: 15px;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    margin-top: 15px;
  }
  @media (min-width: 1025px) and (max-width: 1440px) {
    margin-top: 15px;
    text-align: center;
  }
}

.stats-box {
  display: inline-block;
  margin: 5px;
  border: 3px solid #91caff;
  background-color: #e6f4ff;
  border-radius: 4px;
  width: 30%;
  text-align: center;
  padding: 10px 0;
  line-height: 28px;

  @media (max-width: 768px) {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    padding: 15px;
    width: 50%;
  }
}

.language-section {
  border: 2px solid #91caff;
  border-radius: 4px;
  margin-top: 15px;
  padding: 15px;
  text-align: left;
}

.fw-600 {
  font-weight: 600;
}

.color-black {
  color: black;
}

.lang-tag {
  @media (min-width: 1441px) {
    font-size: 24px;
    padding: 5px 8px;
  }
}
