* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.d-flex-center {
  justify-content: center;
  align-items: center;
}

.horizontal-center {
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 35px;
}

@media (min-width: 1441px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }

  .line canvas {
    font-size: 36px;
  }
}
